* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #131314;
    height: 100vh;
}

.about_me {
    color: white;
    font-size: 2rem;
}

.header {
    width: 100%;
    display: flex;
    margin-top: 4em;
    justify-content: center; 

}

.about_me_card {
    display: flex;
    border-radius: 10px;
    box-shadow:-5px -5px 5px #242626, 5px 5px 15px black;
    padding: 2em;
}

.navigation {
    border-radius: 10px;
    width: 1250px;
    margin-top: 1em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    box-shadow:-5px -5px 5px #242626, 5px 5px 15px black;
}

.header_image {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    margin-left: 1em;
    border: 2px solid skyblue;
}

.nav-item {
    margin: 0.2em;
}

.active {
    background: #4f95ff;
    padding: 0.1em;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #4f95ff, 0px 0px 20px #4f95ff, 0px 0px 60px #4f95ff;
}

.thunder {
    color:#4872fa;
    text-shadow: 0px 0px 10px #4872fa, 0px 0px 40px #4872fa, 0px 0px 80px #4872fa;
}

.tech {
    text-shadow: 0px 0px 10px white, 0px 0px 40px white, 0px 0px 80px white;  
}

.my_projects_text {
    font-size: 3rem; 
    color: white;
    padding: 1em;
}

.hr {
    width: 50%;
    margin: auto;
    border: 2px solid #4872fa;
    box-shadow: 0px 0px 10px #4872fa, 0px 0px 20px #4872fa, 0px 0px 60px #4872fa;
}

.projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: stretch;       
}

.project_card {
    margin-top: 2em;
    margin-bottom: 2em;
    max-width: 40%; 
    display: flex;
    border-radius: 10px;
    box-shadow:-5px -5px 5px #242626, 5px 5px 15px black;
    padding: 2em; 
}

.project_card:hover {
    transform: scale(1.01);
    box-shadow:-5px -5px 15px #4872fa, 5px 5px 15px#4872fa, -5px 5px 15px #4872fa, 5px -5px 15px #4872fa;
}

.projects_text {
    color: white;
    font-size: 1.5rem;
}

.project_heading {
    color: #4872fa;
    font-size: 2rem;
}

.project_image {
    border: 2px solid blue;
    border-radius: 200px;
    width: 200px;
    height: 200px;
    margin-left: 1em;
    margin-right: 1em;
}

.project_links a{
    padding: 10px;
    list-style: none;
    text-decoration: none;
    border: 2px solid #4872fa;
    border-radius: 20px;
}

.project_links {
    margin-top: 1em;
}

@media only screen and (max-width: 600px) {
 .navigation {
     width: 90%;
     height: auto;
     margin-right: auto;
     margin-left: auto;
     margin-top: 1em;
 }

 .about_me_card {
    width: 90%;
    flex-direction: column-reverse;
}

.about_me {
    font-size: 1.5rem;
}

.projects {
    flex-wrap: nowrap;
    flex-direction: column;
}

.my_projects_text {
    font-size: 2rem; 
    color: white;
}

.project_card {
  max-width: 90%;
  min-width: 90%;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column-reverse;
}

.project_image {
    margin-bottom: 1em;
}

}
